html{
    scroll-behavior: smooth;
}

body{
  background-color: #E6E6E6;
  font-size: 20px;
  margin: 0;
  padding: 0;
  font-family: Sans-serif;
}

header{
  background: #E4DDFF;
  border-bottom: 3px solid #433289;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

header img{
  width: 750px;
}

@-webkit-keyframes logo_wiggle{
	0%      {-webkit-transform: rotateY(0deg);left:0px;}
	50%     {-webkit-transform: rotateY(360deg);left:0;}
	100%    {-webkit-transform: rotateY(-360deg);left:0px;}
}

@keyframes logo_wiggle{
	0%      {-webkit-transform: rotateY(0deg);left:0px;}
	50%     {-webkit-transform: rotateY(360deg);left:0;}
	100%    {-webkit-transform: rotateY(-360deg);left:0px;}
} 

#logo{
  -webkit-animation-duration: 5s;
  -webkit-animation-name: logo_wiggle;
  animation-duration: 5s;
  animation-name: logo_wiggle;
}

.nav_links{
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  justify-content: space-between;
  padding: 5px 20px;
}

.nav_item a{
  background-color: #FFFFAA;
  color: #433289;
  font-weight: bold;
  font-size: 25px;
  text-decoration: none;
  padding: 5px 10px;
  text-transform:uppercase
}

.nav_item a:hover, a:focus{
	text-decoration: underline;
	background-color: #433289;
	color: #FFFFAA;
	/* padding: 5px 10px; */
	/* font-size: 30px; */
}

.nav_item .chosen {
	background-color: #433289;
	color: #FFFFAA;
	/* padding:5px 10px; */
	/* font-size: 30px; */
}

.nav_item:active {
  transform: translateY(5px);
}

footer{
  background-color: black;
  color: white;
  padding-top: 5px;
  text-align: center;
  width:100%;
  position: fixed;
  bottom: 0;
}

.container{
    display: grid;    
	-webkit-grid-template-columns: 1fr 5fr 1fr;
    grid-template-columns: 1fr 5fr 1fr;
    grid-gap: 15px;
}

.back1{
  background-attachment: fixed;
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover; 
  height: 400px;
  background-image: url("../images/sjtub.jpg");
  grid-column: 1 / -1;
  grid-row: 1 / auto;
}

.back2 {
  background-attachment: fixed;
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover; 
  height: 400px;
  background-image: url("../images/umb.jpg");
  grid-column: 1 / -1;
  grid-row: 3 / auto;
}

.back1 p, .back2 p{
  background-color: rgba(255, 255, 255, .3);
  padding: 30px;
  color: #F5EEFF;
  text-shadow:3px 3px 4px #433289;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  vertical-align: middle;
}

.sjtu, .um{
	grid-column: 2 / span 1;
}

.sjtu-image, .um-image{
	grid-column: 1 / -1; 
	overflow: hidden;
	max-height: 700px;
}

.sjtu, .sjtu-image{
	grid-row: 2 / span 1;
}

.um, .um-image{
	grid-row: 4 / span 1;
}

.text-block{
  background-color: rgba(255, 255, 255, .75);
  border: 5px dotted #433289;
  padding: 20px;
  align-self: center;
  justify-self: center;
  color: #433289;
}

.text-block h2{
  font-weight: bold;
  font-size: 30px;
}


@media screen and (min-width: 760px) {
  header{
	flex-direction: column;
    justify-content: space-between;
  }

  .nav_links{
	flex-direction: row;
	justify-content: space-between;	
  }

}
  

@media screen and (min-width: 1470px) {
  header{
	flex-direction: row;
    justify-content: space-between;
  }

  .nav_links{
	flex-direction: row;
	justify-content: space-between;	
  }

  .nav_item a{
    padding: 10px;
  }

  .container{
	display: grid;  
	-webkit-grid-template-columns: 100px auto 400px auto 100px;
	grid-template-columns: 100px auto 400px auto 100px;
  }

  .sjtu, .um-image{
	grid-column: 3 / span 2;
  }

  .sjtu-image, .um{
	grid-column: 2 / span 2;
  }	
}

@media (prefers-reduced-motion: reduce) {
  #logo {
    animation: none;
  }
}